<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Elixirposts!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="top-nav">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Logo</a>
          <ul class="right hide-on-med-and-down">
            <li class="search">
              <form>
                  <input id="search" type="search" required placeholder="Search">
              </form>
            </li>
            <li>
              <div class="chip">
                <img src="images/phoenix.png" alt="Contact Person">
                Jane Doe
              </div>
            </li>
          </ul>
      </div>
    </nav>
    <div class="row">
      <div id="sidebar" class="col s3">
        <ul class="center nav-keys">
          <li><div><img src="" alt=""></div></li>
          <li><a class="waves-effect" href="#"><h4>Postgres</h4></a></li>
          <div>
            <h4><a class="waves-effect btn" href="#">Elixir</a></h4>
          </div>
          <div>
            <h4><a class="waves-effect btn" href="#">phoenix</a></h4>
          </div>
          <div>
            <h4><a class="waves-effect btn" href="#">Postgres</a></h4>
          </div>
          <div>
            <h4><a class="waves-effect btn dropdown-button" href="#"
               data-activates='dropdown1'>Deployment</a></h4>
          </div>

        </ul>
      </div>
      <div class="col s9 main-display">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

          <main role="main">
            <%= render @view_module, @view_template, assigns %>
          </main>

      </div>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!">four</a></li>
        <li><a href="#!">five</a></li>
      </ul>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
