<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Elixirposts!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="top-nav">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Logo</a>
          <ul class="right hide-on-med-and-down">
            <li class="search">
              <form>
                  <input id="search" type="search" required placeholder="Search">
              </form>
            </li>
            <li>
              <div class="chip">
                <img src="images/phoenix.png" alt="Contact Person">
                Jane Doe
              </div>
            </li>
          </ul>
      </div>
    </nav>
    <div class="row">
      <div id="sidebar" class="col s3">
        <ul>
          <li><img src="" alt=""></li>
          <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
          <li><a href="#!">Second Link</a></li>

          <li><a class="subheader">Subheader</a></li>
          <li><a class="waves-effect" href="#!"><h5>Third Link With Waves</h5></a></li>
        </ul>
      </div>
      <div class="col s9">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

          <main role="main">
            <%= render @view_module, @view_template, assigns %>
          </main>

      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
