/* This file is for your main application css. */
.navbar-fixed {
  position: fixed;
}

.main-container {
  padding-top: 64px;
}

#sidebar {
  background-color: #90a4ae;
  position: fixed;
  height: 100%;
}

.row .col.s9 {
    margin-left: 25%;
}

.waves-effect {
  display: block;
}

.post-tags, .post-packages {
  display: flex;
  align-items: center;
  color: grey;
  font-size: 1.3rem;
}

.post-title {
  font-size: 2rem;
  color: grey;
}
.post-writer {
  font-size: 1.3rem;
  color: grey;
}

.post-description {
  font-size: 17px;
  color: grey;
}

.post-links {
  margin-top: 20px;
}
